/* ContactsPage.module.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f7f9fb;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #5d5c61;
  margin-bottom: 30px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 12px 20px;
  background-color: #aed9e0; 
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fbb7a9;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #ffddc1;
}

.section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modalButton {
    padding: 12px;
    background-color: #aed9e0; 
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;

}

.modalButton:hover {
  background-color: #c6e2e8; 
    cursor: not-allowed;
}
